spawn-sh-at-startup "killall -q waybar; while pgrep -x waybar >/dev/null; do sleep 0.1; done; uwsm-app -- waybar"
spawn-sh-at-startup "uwsm-app -- mako"
spawn-sh-at-startup "uwsm-app -- fcitx5 --disable notificationitem"
spawn-sh-at-startup "uwsm-app -- swaybg -i ~/.config/omari/current/background -m fill"
spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"
spawn-at-startup "omari-first-run"

// Slow app launch fix -- set systemd vars
// spawn-sh-at-startup "systemctl --user import-environment DISPLAY XAUTHORITY WAYLAND_DISPLAY WAYLAND_SOCKET WAYLAND_DEBUG GPG_AGENT_INFO SSH_AUTH_SOCK"
// spawn-sh-at-startup "dbus-update-activation-environment --systemd --all"

// Skip the hotkey overlay at startup.
hotkey-overlay {
    skip-at-startup
}