spawn-sh-at-startup "uwsm-app -- waybar"
spawn-sh-at-startup "uwsm-app -- mako"
spawn-sh-at-startup "uwsm-app -- fcitx5 --disable notificationitem"
spawn-sh-at-startup "uwsm-app -- swaybg -i ~/.config/omari/current/background -m fill"
spawn-sh-at-startup "uwsm-app -- swaybg -i ~/.config/omari/current/background-blurred.jpg -m fill -n backdrop"
spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"
spawn-at-startup "omari-cmd-first-run"

// Skip the hotkey overlay at startup.
hotkey-overlay {
    skip-at-startup
}