// https://niri-wm.github.io/niri/Configuration%3A-Input.html
input {
    //
    keyboard {
        xkb {
            // layout "us"
            // variant ""
            // model ""
            options "compose:caps"
            // rules ""
        }
    }

    // Enable focus follows mouse, which focuses windows when the mouse cursor enters them.
    focus-follows-mouse max-scroll-amount="0%"
}