// https://niri-wm.github.io/niri/Configuration%3A-Input.html
input {
    //
    keyboard {
        xkb {
            // Leave it empty to use the default options
        }

        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    touchpad {
        tap
        // Put your touchpad settings here
    }

    mouse {
        // Put your mouse settings here
    }

    trackpoint {
        // Put your trackpoint settings here
    }

    // Enable focus follows mouse, which focuses windows when the mouse cursor enters them.
    focus-follows-mouse max-scroll-amount="0%"
}