window-rule {
    opacity 0.97
    draw-border-with-background false
}

// The screenshot-path option specifies where screenshots taken with the "Take Screenshot" action in the hotkey overlay are saved. You can use strftime format specifiers to include the date and time in the filename.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// It's also possible to specify a custom command to run when taking a screenshot. The command will receive the screenshot path as an argument, and the screenshot will be saved at that path after the command is executed. This allows you to, for example, copy the screenshot to the clipboard instead of saving it to disk.
// screenshot-path null
