// This config is in the KDL format: https://kdl.dev
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

// Use defaults Omari defaults (but don't edit these directly!)
include "../../.local/share/omari/default/niri/autostart.kdl"
include "../../.local/share/omari/default/niri/bindings/media.kdl"
include "../../.local/share/omari/default/niri/bindings/tiling.kdl"
include "../../.local/share/omari/default/niri/bindings/utilities.kdl"
include "../../.local/share/omari/default/niri/envs.kdl"
include "../../.local/share/omari/default/niri/looknfeel.kdl"
include "../../.local/share/omari/default/niri/input.kdl"
include "../../.local/share/omari/default/niri/window.kdl"
include "../../.local/share/omari/default/niri/apps/system.kdl"
include "../omari/current/theme/niri.kdl"

// Change your own setup in these files (and overwrite any settings from defaults!)
include "output.kdl"
include "input.kdl"
include "bindings.kdl"

// Add any other personal Niri configuration below