
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Inputs

input {
    //
    keyboard {
        xkb {
            options "compose:caps"

            // Put your XKB options here
            // Leave it empty to use the default options, which are a good starting point for most users.
        }

        repeat-delay 250
        repeat-rate 40
    }

    touchpad {
        scroll-factor 0.4
    }

    mouse {
        //
    }

    trackpoint {
        //
    }
}