binds {

    // Requires PipeWire & WirePlumber.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "omari-swayosd-client --output-volume mute-toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "omari-cmd-mic-mute"; }

    // Precise 1% multimedia adjustments with Alt modifier
    Alt+XF86AudioRaiseVolume allow-when-locked=true { spawn "omari-swayosd-client --output-volume +1"; }
    Alt+XF86AudioLowerVolume allow-when-locked=true { spawn "omari-swayosd-client --output-volume -1"; }
    Alt+XF86MonBrightnessUp allow-when-locked=true { spawn "omari-brightness-display +1%"; }
    Alt+XF86MonBrightnessDown allow-when-locked=true { spawn "omari-brightness-display -1%"; }

    // Requires playerctl
    XF86AudioNext        allow-when-locked=true { spawn-sh "omari-swayosd-client --playerctl next"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "omari-swayosd-client --playerctl play-pause"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "omari-swayosd-client --playerctl play-pause"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "omari-swayosd-client --playerctl previous"; }

    // Switch audio output with Super + Mute
    Mod+XF86AudioMute    allow-when-locked=true { spawn "omari-cmd-audio-switch"; }
}